{% extends "layout.njk" %}

{% block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <title>Rocketseat | Conteúdos</title>
{% endblock head %}

{% block content %}
  <h1 class="page_title">Conteúdos</h1>

  <section class="cards">

    {% for course in courses %}
      <div class="card b_purple" id="{{course.id}}">
        <div class="card_number">
          {{course.number}}
        </div>
        <div class="card_image">
          <img src="/assets/{{course.id}}.svg" alt=""/>
        </div>
        <div class="card_content">
          <p>
            <strong>{{course.strong}}</strong>
            {{course.description}}
          </p>
        </div>
        <div class="card_info">
          <p>{{course.modules}}</p>
          <div class="p_price">
            <p>{{course.price}}</p>
          </div>
        </div>
      </div>
    {% endfor %}

  </section>

  <script src="/scripts.js"></script>
{% endblock content %}