{% extends "layout.njk" %}

{% block content %}
  <main>

    <div class="erro">
      <h1>Erro 404: Page Not Found</h1>
      <h2>Desculpe, não foi possivel encontrar o conteúdo solicitado...</h2>
      <a href="/">Voltar para página principal</a>
    </div>

  </main>
{% endblock content %}