@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-rocket: #7159c1;
  --color-orange: #f4942c;
  --color-green: #50fa7b;
  --color-white: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #282a36;
}

header {
  background-color: #00000033;
  padding: 30px;
}

.nav_links {
  display: flex;
  justify-content: center;
}

.nav_links a {
  margin: 0 15px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.nav_links a:hover {
  color: var(--color-rocket);
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px auto;
}

.logo_image {
  margin: 16px 0;
}

.logo_image img {
  border-radius: 50%;
}

main h1 {
  color: var(--color-white);
  font-size: 40px;
}

main h2 {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.description {
  width: 50%;
  margin: 40px 0 16px;
  text-align: center;
  line-height: 24px;
  color: var(--color-white);
}

.p_rocket {
  color: var(--color-rocket);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.tecno {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0 16px;
  color: var(--color-white);
}

.tecno h3 {
  font-weight: 400;
}

.tecno ul {
  margin: 16px 0;
  color: var(--color-white);
  display: flex;
  list-style: none;
  background-color: var(--color-rocket);
  padding: 8px 16px;
  border-radius: 4px;
  
}

.tecno ul:hover {
  background-color: var(--color-rocket);
  color: var(--color-white);
}

.tecno ul li {
  margin: 0 8px;
}

.footer a:hover {
  padding: 0 0 8px;
  border-bottom: 2px solid var(--color-rocket);
}

.page_title {
  text-align: center;
  color: var(--color-white);
  margin: 32px 0;
  font-size: 40px;
}

.cards {
  width: 75%;
  margin: auto;
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 32px 16px;
  background-color: #00000033;
  cursor: pointer;
}

.b_purple,
.b_orange,
.b_green {
  transition: all 0.5s ease-in-out;
}

.b_purple:hover,
.b_orange:hover,
.b_green:hover {
  transform: scale(1.05);
}

.b_purple:hover {
  border: 2px solid var(--color-rocket);
}

.b_orange:hover {
  border: 2px solid var(--color-orange);
}

.b_green:hover {
  border: 2px solid var(--color-green);
}

.card_number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-rocket);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--color-rocket);
  margin: 0 0 72px;
}

.orange {
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
}

.green {
  color: var(--color-green);
  border: 2px solid var(--color-green);
}

.card_content {
  width: 80%;
  margin: 40px auto;
}

.card_content p {
  text-align: center;
  color: var(--color-white);
}

.card_content p strong {
  color: var(--color-rocket);
}

.card_content p strong.p_orange {
  color: var(--color-orange);
}

.card_content p strong.p_green {
  color: var(--color-green);
}

.card_info {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 13px;
  color: var(--color-white);
}

.p_price {
  display: flex;
  justify-content: flex-end;
}

.p_price p {
  background-color: #282a36;
  padding: 8px 16px;
  border-radius: 4px;
}

.modal_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #000000bb;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}

.icons {
  color: var(--color-rocket);
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 16px;
  right: 16px;
}

.icons span {
  cursor: pointer;
}

.material-icons {
  margin: 0 8px;
}

iframe {
  width: 100%;
  height: 90%;
  margin-top: 4%;
}

.maximize {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
}
